.about-me-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.about-me-social-media {
  display: flex;
  justify-content: space-evenly;
}

.social-div {
 grid-row: 3;
 grid-column: 2/3;
 display: grid;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-columns: 1fr 1fr 1fr;
 align-items: start;
}

.social-info {
  grid-row: 1;
  grid-column: 2/3;
  text-align: center;
}

.about-me-social-media {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 2/3;
}

.about-me-content {
  grid-row: 2;
  grid-column: 1/4;
}

.about-me-title {
  grid-row: 1;
  grid-column: 1/4;
  justify-self: center;
}