nav {
  display: flex;
  margin-right: 20px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 12px;
  justify-content: flex-end;
  
}

.link-box {
  flex-basis: 25%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.link-box > a {
  font-style: none;
}

.link-box ul {
  list-style: none;
  display: flex;
}

.website-name {
  justify-self: left;
}


@media only screen and (min-width: 800px) {
  .link-box  {
    font-size: 1.5em;
  }
} 